<div class="mx-auto">
 <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25 %</div>
 </div>
    <h2>新規会員登録</h2>
      <p class="new-header">テキスト Rentalに会員登録すると、教科書の貸し借りし放題！</p>
        <div class="card bg-light ">
          <div class="col-14">
            <div class="card-header">アカウント情報</div>
              <div class="row justify-content-center">
               <div class="col-10">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                  
                <div class="field">
                  <%= f.label :email, 'メールアドレス' %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "例）text@textrental.co.jp" %>
                </div>
                      
                <div class="field">
                  <%= f.label :password, 'パスワード' %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
                  <% if @minimum_password_length %>
                  <p><font size="-1">※パスワードは<%= @minimum_password_length %>文字以上で設定してください</p>
                  <% end %>
                </div>
                      
                <div class="field">
                  <%= f.label :password_confirmation, 'パスワード(確認用)' %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %><hr>
                </div>
                
                <div class="actions">
                  <%= f.submit "新規登録", class: "btn btn-info btn-lg btn-block" %>
                </div>
                  
                <% end %>
               </div>
            </div>
        </div>
　   </div>
</div>

