<div class="container head">
  <div class="header-image">
   <h1 class="text-left header-content"><strong>教科書はレンタルする時代</strong></h1>
    <h2 class="text-left header-content">買わずに安く教科書をレンタルするならテキストRental!</h2>
     <h3 class="text-left header-content">掲示板を使って同じ大学の人からだって貸し借り可能</h3>
  </div>
</div>
       
<div class="container img-box">
    <%= image_tag '/assets/desc1.svg', class: "image-category1"%>
    <%= image_tag '/assets/next.svg', class: "image-category3" %>
    <%= image_tag '/assets/desc2.svg', class: "image-category1"%>
    <%= image_tag '/assets/next.svg', class: "image-category3" %>
    <%= image_tag '/assets/desc3.svg', class: "image-category1"%>
    <%= image_tag '/assets/next.svg', class: "image-category3" %>
    <%= image_tag '/assets/desc4.svg', class: "image-category1" %>
</div>
    <hr>
<div class="container img-box">
    <%= image_tag '/assets/desc5.svg', class: "image-category1"%>
    <%= image_tag '/assets/next.svg', style: "width:50px; height 100px;" %>
    <%= image_tag '/assets/desc6.svg', class: "image-category1" %>
    <%= image_tag '/assets/next2.svg', style: "width:50px; height 100px;" %>
    <%= image_tag '/assets/desc7&8.svg', class: "image-category2"%>
    <%= image_tag '/assets/next.svg', style: "width:50px; height 100px;" %>
    <%= image_tag '/assets/desc9.svg', class: "image-category1"%>
</div>
　         
　   
　           
        
        
      
      
      
      
      
      
　      </div>
      </div>
    </div>
 