<div class="book-search-nav">
 <nav class="navbar navbar-light" style="background-color: #bbd9dd;">
  <!--<div class="justify-content-center">-->
    <div class="input-group col-4">
      <div class="input-group-prepend">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">カテゴリー</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
     <input type="text" class="form-control" aria-label="Text input with dropdown button">
   </div>
   <!--</div>-->
 </nav>
</div>
<div class="row  justify-content-md-center">
   <div class="col-2">
    <div class="book-search">
      <div class="card">
        <div class="card-body">
         <strong>こだわり検索</strong>
           <div class="search-items">
             <label>著者名</label>
               <div class="form-group form-check">
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1">
                   <label class="form-check-label" for="exampleCheck1">小幡道昭</label>
                  </div>
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck2">
                   <label class="form-check-label" for="exampleCheck1">安田靜和</label>
                  </div>
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck3S">
                   <label class="form-check-label" for="exampleCheck1">高橋明男</label>
                  </div>
               </div>
             </div> 
             <div class="search-items">
             <label>カテゴリー</label>
               <div class="form-group form-check">
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1">
                   <label class="form-check-label" for="exampleCheck1">文学</label>
                  </div>
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck2">
                   <label class="form-check-label" for="exampleCheck1">経済/経営</label>
                  </div>
                  <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck3S">
                   <label class="form-check-label" for="exampleCheck1">歴史/地理</label>
                  </div>
               </div>
             </div>
            <button type="button" class="btn btn-outline-info btn-block">検索する</button>
        </div>
      </div>
     </div>
     </div>
    <div style="background-color:#eee; width:2px; height:800px; margin-right: 25px;"></div>
    <div style="width:80%; float:left;">
     <% @books.each do |b| %>
      <dl>
        <div class="row search-result-item">
          <div class="col-3">
            <%= image_tag b.images, class: "book-img" %>
          </div>
          <div class="col-7">
              <div class="book-link">
                <h4>
                 <strong><%= link_to(b.name,"/books/#{b.id}", class: "book-link") %></strong>
                </h4>
              </div> 
              <p><%= link_to b.author, class: "author" %> 他</p>
              <p class="book-price-small"><strong>￥<%= b.rental_price %></strong> /１ヶ月 (税込)</p>
              <dt>ISBN:</dt>
              <dd><%= b.isbn_num %></dd>
              <dt>教科書の状態:</dt>
              <dd><%= b.condition %></dd>
         </div>
        </div>
       </dl>      
      <% end %>
    </div>
</div>               





 
 




<!--https://lifewack.com/html-table-template/-->

