<div class="board">
      <div class="container" style="padding-top:30px;">
            <div class="row">
                  <div class="col"></div>
                  <div class="col-6">
                       <%= render "boards/card"  %>
                       <div class="link-back">
                           <a href="/boards" class="btn btn-link"><i class="fas fa-angle-left"></i> 掲示板に戻る</a>
                           <a href="/" class="btn btn-link"><i class="fas fa-angle-double-left"></i>トップに戻る</a>
                       </div>
                       <% if user_signed_in? %>
                       <%= render "boards/comment" %>
                       <% else %>
                       <p>コメント欄を閲覧するには会員登録、もしくは <%= link_to 'ログイン', new_user_session_path %>してください。</p>
                       <%= link_to '無料会員登録', new_user_registration_path, class: "btn btn-info btn-block"%>
                       <% end %>
                  </div>
                  <div class="col"></div>
             </div>
    


<% if user_signed_in? %>
      <% if @board.user_id == current_user.id %>
      <p><a href="/boards/<%= @board.id %>/edit" class="btn btn-success">投稿を編集する</a></p>
      <p><a href="/boards/<%= @board.id %>" data-method="delete" class="btn btn-danger">投稿を削除する</a></p>
      <% end %>
<% end %>
   

      
</div>
   






<!--<h2>いいねしたユーザー</h2>-->
<!--        < @board.liked_users.each do |user| %>-->
<!--          <li><= user.email %></li>-->
<!--        < end %>-->
<!--https://saruwakakun.com/html-css/reference/speech-bubble-->
